{% extends 'shop_app/base.html' %}

{% block title %} {{title}} {% endblock %}


{% block content %}
<h1>{{ title }}</h1>
<ol>
    {% for order in orders %}
    <li>Order #{{ order.id }}: total price = {{ order.total_price }}, products:
        <ol>
            {% for key, value in order_items.items %}
            {% if key == order.id %}
            {% for item in value %}
            <li> {{ item }} </li>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </ol>
    </li>
    {% endfor %}
</ol>

<a href="{% url 'client_7days' client.id %}">Last 7 days </a><br>
<a href="{% url 'client_30days' client.id %}">Last 30 days </a><br>
<a href="{% url 'client_365days' client.id %}">Last 365 days </a>

{% endblock %}